<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<!-- %date 顯示日期時分秒 %level LOG等級,INFO DEBUG 等 %thread 是從哪一個線程觸發 %logger{30} 
		從哪一支程式來有加package , {}中的數字表示長度太長會以package的第1個英文字代替 %file 哪1個java檔案 %line 行數 
		%msg LOG的訊息 -->

	<!-- 寫到FILE(非開發系統訊息) -->
	<appender name="FILEOUT_LIB"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 請修改LOG檔案儲存路徑 -->
			<fileNamePattern>${user.home}/.tutorrials/logs/iisi-lib-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
			<!-- 1個檔案最大20MB -->
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- 留存10天 -->
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}][%p][%t][%c.%M]%m%n</pattern>
		</encoder>
	</appender>

	<!-- 寫到FILE(程式除錯, 追蹤用訊息) -->
	<appender name="FILEOUT_TRACE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 請修改LOG檔案儲存路徑 -->
			<fileNamePattern>${user.home}/.tutorrials/logs/iisi-trace-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
			<!-- 1個檔案最大20MB -->
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- 留存10天 -->
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}][%p][%t][%c.%M]%m%n</pattern>
		</encoder>
	</appender>

	 

	<!-- 寫到CONSOLE -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- deny all events with a level below INFO, that is TRACE and DEBUG -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<encoder>
			<pattern>[%d{MM/dd-HH:mm:ss.SSS}][%-7X{taskCode}][%-5level] %msg \(%c.java:%L\)%n</pattern>
		</encoder>
	</appender>

	<root>
		<!--將LOG寫到Console -->
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILEOUT_TRACE" />
	</root>

	<!-- 開發系統相關訊息LOGGER -->
	<logger name="org.springframework.demo" level="DEBUG" additivity="false">
		<appender-ref ref="FILEOUT_TRACE" />
		<appender-ref ref="STDOUT" />
	</logger>

</configuration>